body,html,#app{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    font-size: 14px;
    background: #ebebeb;
}
ul,li{
    margin: 0;padding: 0;list-style: none;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}